.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1.5rem;

}
.navbar-links{
     
    
    display: flex;
    align-items: center;

}
.navbar-links p{
     color: #fff;
     font-family: 'Oswald', sans-serif;
     font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     text-transform: uppercase;
     margin: 0 1rem;
     cursor: pointer;
}
.navbar-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navbar-buttons p{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
     font-size: 14px;
     line-height: 24px;
     text-transform: uppercase;
     margin: 0 0.5rem;
     cursor: pointer;
}
.navbar-buttons img{
    margin: 0 0 0 1rem;
}
.cart{
    display: flex;
    margin: 0 0 0 0.3rem;
}
.cart p{
    display: flex;
    flex-direction: column;
}
.cart p:first-child {
    font-size: 12px;
    text-transform: capitalize;



    
}

.navbar-menu{

    position: relative;
    display: none;
}
.navbar-menu-container{
   background-color: #000000;
  
   position: absolute;
   justify-content: flex-end;
   text-align: center;
   padding: 2em;
   top: 45px;
   right: 0%;
   margin-top: 1rem;
   box-shadow:0 0 5 rgba(0,0,0,0.2);
    width: 320px;

}
.navbar-menu-container-buttons p{
    color: #fff;
}
.navbar-menu-container-links p{
    color:#ffffff ;
    font-size:18px ;
    font-weight: 500;
    text-transform: uppercase;
}
.cart {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}
.cart-text:last-child{
    margin-left:5px;
}



@media screen and (max-width: 1050px){
    .navbar-links, .navbar-buttons{
        display: none;

    }
    .navbar-menu{
        display: flex;
    }
}
@media screen and (max-width: 700px) {
    .navbar-menu{
        display: flex;
        
    }
     .navbar{
        padding: 2rem 1rem;
     }
    
}